<form [formGroup]="inscriptionFormGroup" (ngSubmit)="onSubmit()">
   
    <div class="alert alert-danger"></div>

    <div class="mb-3">
        <a href="">Se déconnecter</a>
    </div>

<div class="container">
    <div class="d-flex justify-content-center pt-3">
        <a routerLink="/accueil" routerLinkActive="active-link"><img src="assets/logo/prestige_noir.png" alt="Logo"></a>
    </div>
    <div class="row mt-3 g-0 mb-5 height-125">
        <div class="col-md-6">
            <div class="h-125 shadow">
                <img style="height: 100%" src="assets/cover/montres_intemporel.jpg"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-4 h-100 shadow">
                <div formGroupName="client" class="p-3 d-flex justify-content-center flex-column"> <span class="registerTop text-center">Inscription</span>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input  formControlName="nom"  class="form-control mt-2" autocomplete="user" placeholder="Indiquez votre nom" required autofocus>
                                <div *ngIf="nom!.invalid && (nom!.dirty || nom!.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="nom!.errors?.['required'] || nom!.errors?.['notOnlyWhitespace']">
                                    Le nom est obligatoire.
                                    </div>

                                    <div *ngIf="nom!.errors?.['minlength']">
                                    Le nom doit comporter au moins 2 caractères.
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input formControlName="prenom"  class="form-control mt-2" autocomplete="user" placeholder="Indiquez votre prénom" required autofocus>
                                <div *ngIf="prenom!.invalid && (prenom!.dirty || prenom!.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="prenom!.errors?.['required'] || prenom!.errors?.['notOnlyWhitespace']">
                                    Le prénom est obligatoire.
                                    </div>

                                    <div *ngIf="prenom!.errors?.['minlength']">
                                    Le prénom doit comporter au moins 2 caractères.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input formControlName="email" name="email" class="form-control mt-2" autocomplete="email" placeholder="Indiquez votre email" required autofocus>
                                <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="email!.errors?.['required'] || email!.errors?.['notOnlyWhitespace']">
                                    L'email est obligatoire.
                                    </div>

                                    <div *ngIf="email!.errors?.['pattern']">
                                    L'email doit être une adresse valide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input formControlName="motDePasse" type="passsword" name="password" class="form-control mt-2" autocomplete="current-password" placeholder="Indiquez votre mot de passe" required>
                                <div *ngIf="motDePasse!.invalid && (motDePasse!.dirty || motDePasse!.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="motDePasse!.errors?.['required'] || motDePasse!.errors?.['notOnlyWhitespace']">
                                    Le mot de passe est obligatoire.
                                    </div>

                                    <div *ngIf="motDePasse!.errors?.['pattern']">
                                    Le mot de passe doit être compris entre 8 et 15 caractères.
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                                <input formControlName="telephone" name="phone" class="form-control mt-2" autocomplete="current-password" placeholder="Indiquez votre téléphone" required>
                                <div *ngIf="telephone!.invalid && (telephone!.dirty || telephone!.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="telephone!.errors?.['required'] || telephone!.errors?.['notOnlyWhitespace']">
                                    Le téléphone est obligatoire.
                                    </div>

                                    <div *ngIf="telephone!.errors?.['pattern']">
                                    Le téléphone doit avoir 10 chiffres.
                                    </div>
                                </div>
                            </div>
                        </div>
                    

                    <input type="hidden" name="_csrf_token"
                    value="">


    <div class="checkbox mb-3">
        <label>
            
        </label>
    </div>


<div class="d-flex align-items-baseline justify-content-center mx-4 mb mb-lg-4">
<button class="btn btn-outline-dark btn-block" type="submit">S'inscrire</button>
                            <p class="text-muted ms-2 me-2">ou</p>
                            <a routerLink="/connexion" routerLinkActive="active-link">Se connecter</a>
                        </div>

    


