<img src="assets/cover/marque.png" class="modal-fullscreen" alt="Marque" style="height:800px">


<div class="container">
<div class="col-md-10 mx-auto">
  <div class="d-flex justify-content-center mt-5 mb-4">
    <h2 class="fs-2 fade-in" href=""> PRESTIGE : une référence dans la cinématographie</h2>
  </div>
  <p class="text-center fade-in">Depuis des décennies, la marque Prestige apparaît dans de nombreux films mythiques
    comme un symbole emblématique. Elle devient Montre Exclusive de l’Académie des arts et des sciences du cinéma qui organise la
    cérémonie des Oscars® à Los Angeles depuis 1929. Prestige est également Founding Supporter de l’Academy Museum of
    Motion Pictures, en cours de construction à Los Angeles, qui a pour objectif de préserver le patrimoine
    cinématographique.</p><br></div>

    
  <div class="d-flex justify-content-center mt-5 mb-4">
    <h2 class="fs-2 fade-in" href="">L'histoire du fondateur</h2>
  </div>
  <div class="text-center">
  <p class="col-md-4 mx-auto fade-in">L’histoire de Prestige est inextricablement liée à l’esprit innovateur et visionnaire
    Charles Simmonière, son fondateur. En 1905, à l’âge de 24 ans, Charles Simmonière fonde une société à Londres, spécialisée
    dans la distribution de montres. Charles Simmonière se met à rêver d’une montre portée au poignet. Malgré le manque
    de précision des montres-bracelets, il pressent qu’elles pourraient devenir à la fois élégantes et fiables. Pour
    garantir aux yeux du public la fiabilité de ces pièces résolument novatrices, il les équipe de mouvements de petite
    taille et de grande précision, fabriqués par une manufacture suisse située à Bienne.</p><br><br>
</div>

  <div class="d-flex justify-content-center mt-5 mb-4">
    <h2 class="fs-2 fade-in" href="">La création de PRESTIGE</h2>
  </div>
  <div class="text-center">
    <p class="col-md-4 mx-auto fade-in">Charles Simmonière souhaitait que ses montres portent un nom simple, facile à
      mémoriser, ayant une connotation lié au charme, à la séduction de son invention.
      « J’ai essayé de un nom marquant les esprits de toutes les manières possibles, disait-il. En sont ressortis
      quelques centaines de noms, mais aucun d’eux ne me satisfaisait vraiment. Un matin, alors que je me trouvais sur le pont
      des Arts, à Paris, un génie a chuchoté Prestige à mon oreille. »</p><br><br>
  </div>

</div>

<script>
  $(document).ready(function () {

    $(window).scroll(function () {

      $('.fade-in').each(function (i) {

        var bottom_of_object = $(this).position().top + $(this).outerHeight();
        var bottom_of_window = $(window).scrollTop() + $(window).height();

        if (bottom_of_window > bottom_of_object) {

          $(this).animate({ 'opacity': '1' }, 1500);

        }

      });

    });

  });
</script>

