<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                
                <!-- boucle sur la collection de produits-->
                <div *ngFor="let tempProduit of produits" class="col-md-3">
                    <div class="product-box">
                        <a routerLink = "/produits/{{ tempProduit.id}}">
                            <img src ="{{tempProduit.image}}" img="img-responsive"/>
                        </a>
                        
                        <a routerLink = "/produits/{{ tempProduit.id}}">
                            <h1>{{ tempProduit.nomProduit}}</h1>
                        </a>

                        <div class="price" >{{ tempProduit.prix | currency:'EUR'}}</div>
                        <button (click)="addToCart(tempProduit)" class="btn btn-outline-dark">Ajouter au panier</button>
                    </div>
                </div>

                <!-- Si le produit n'existe pas-->
                <div *ngIf="produits?.length == 0" class="alert alert-warning" role="alert">
                    Le produit cherché n'a pas été trouvé.
                </div>
            </div>
        </div>
    </div>
</div>
