<div class="section" style="margin-top: 200px">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="dashboard_menu bg-light">
					<ul class="nav nav-tabs flex-column" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="dashboard-tab" data-bs-toggle="collapse" href="#dashboard"
								role="button" aria-controls="dashboard" aria-selected="false">
								<i class="ti-layout-grid2"></i> Informations personnelles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="orders-tab" data-bs-toggle="collapse" href="#orders" role="button"
								aria-controls="orders" aria-selected="false">
								<i class="ti-shopping-cart-full"></i>Commandes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="address-tab" data-bs-toggle="collapse" href="#address" role="button"
								aria-controls="address" aria-selected="true">
								<i class="ti-location-pin"></i>Adresse de livraison</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-9 col-md-8">


				<div class="tab-content dashboard_content">
					<div role="tabpanel" aria-labelledby="dashboard-tab">
						<div class="card">
							<div class="card-header">
								<h3 style="text-align:center;">Bienvenue</h3>
							</div>
							<div class="collapse" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
								<div class="card">
									<div class="card-header">
										<h3>Informations personnelles</h3>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Nom</th>
														<th>Prénom</th>
														<th>Email</th>
														<th>Téléphone</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let tempInfoUtilisateur of listeUtilisateur">
														<td>{{tempInfoUtilisateur.nom}}</td>
														<td>{{tempInfoUtilisateur.prenom}}</td>
														<td>{{tempInfoUtilisateur.email}}</td>
														<td>{{tempInfoUtilisateur.telephone}}</td>
														
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					

					<div class="collapse" id="orders" role="tabpanel" aria-labelledby="orders-tab">
						<div class="card">
							<div class="card-header">
								<h3>Commandes</h3>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>Numéro de suivi</th>
												<th>Prix Total</th>
												<th>Quantité Total</th>
												<th>Date</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let tempHistoriqueCommande of listeHistoriqueCommande">
												<td>{{ tempHistoriqueCommande.numeroSuiviCommande}}</td>
												<td>{{ tempHistoriqueCommande.prixTotal | currency : 'EUR'}}</td>
												<td>{{ tempHistoriqueCommande.quantiteTotal}}</td>
												<td>{{ tempHistoriqueCommande.dateCommande | date : 'medium'}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- si l'historique de commande est vide, envoi d'un message -->
								<div *ngIf="listeHistoriqueCommande.length == 0" class="alert alert-warning col-md-12" role="alert">
									Aucune commande passée.
								</div>

							</div>
						</div>
					</div>
					

						
						<div class="collapse" id="address" role="tabpanel" aria-labelledby="address-tab">
							<div class="card">
									<div class="card-header">
										<h3>Adresse</h3>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Nom adresse</th>
														<th>Adresse</th>
														<th>Code Postale</th>
														<th>Ville</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let tempInfoAdresses of listeAdresses">
														<td>{{ tempInfoAdresses.nomAdresse}}</td>
														<td>{{ tempInfoAdresses.adresse}}</td>
														<td>{{ tempInfoAdresses.codePostale}}</td>
														<td>{{ tempInfoAdresses.ville}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>


