<div class="dropdown">
    <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-user text-white"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a *ngIf="!isUserLogin" class="dropdown-item" routerLink="/inscription" routerLinkActive="active-link">Inscription</a></li>
        <li><a *ngIf="!isUserLogin" class="dropdown-item" routerLink="/connexion" routerLinkActive="active-link">Connexion</a></li>
        
        <li><a *ngIf="isUserLogin" class="dropdown-item" routerLink="/compte" >Mon compte</a></li>
        <li><a *ngIf="isUserLogin" (click)="logout()" class="dropdown-item">Deconnexion</a></li>
    </ul>
</div>
